/* <element width="1…"> 
contain 1 as the first value*/
[width ^='1']{

}
/* <element width="…1">
contain 1 as the last value*/
[width $='1']{

}
/* <element width="…1…">
contain 1 at any site*/
[width *='1']{

}
/* <element width=" … 1 … ">
have exactly the value */
[width ~='1']{

}
/* <element width="1-…" ">
have start with and - after or alone */
[width |='1']{

}
#example1 {
  border-radius: 2em / 5em;
}
/* is equivalent to:
border-top-left-radius: 2em 5em;
border-top-right-radius: 2em 5em;
border-bottom-right-radius: 2em 5em;
border-bottom-left-radius: 2em 5em; */

#example2 {
  border-radius: 2em 1em 4em / 0.5em 3em;
}
/* is equivalent to:
border-top-left-radius: 2em 0.5em;
border-top-right-radius: 1em 3em;
border-bottom-right-radius: 4em 0.5em;
border-bottom-left-radius: 1em 3em; */

/*
border-image-source	The path to the image to be used as a border	
border-image-slice	How to slice the border image	
border-image-width	The width of the border image	
border-image-outset	The amount by which the border image area extends beyond the border box	
border-image-repeat	Whether the border image should be repeated, rounded or stretched	
initial	Sets this property to its default value. Read about initial	
inherit	Inherits this property from its parent element. Read about inherit
short hand syntax
border-image: source slice width outset repeat|initial|inherit;

*/
#borderimg1 {
  border: 10px solid transparent;
  padding: 15px;
  border-image: url(border.png) 50 round;
}
